
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}


.header {
    background-color: #125d1c;
    color: white;
    padding: 20px;
    text-align: center;
}

.header h1 {
    margin: 0;
}


.container {
    width: 80%;
    margin: 20px auto;
}


.campaign {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.campaign h2 {
    margin-top: 0;
}

.campaign p {
    margin: 5px 0;
}

/* Progress Bar */
.progress-bar {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 10px;
}

.progress-bar-inner {
    height: 15px;
    background-color: #28a745;
}

/* Button Styles */
.button-container {
    text-align: center;
    margin-top: 20px;
}

.button-container a {
    background-color: #3aa422;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.button-container a:hover {
    background-color: #287c1d;
}
